{
	"processors": ["stylelint-processor-styled-components"],
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-recommended",
		"stylelint-config-styled-components"
	],
	"syntax": "scss",
	"rules": {
		"indentation": "tab",
		"comment-empty-line-before": null,
		"unit-whitelist": ["px", "deg", "%", "s"],
		"string-quotes": "double"
	}
}
